body {
    font-family: 'Times New Roman', fantasy;
    background-color: seashell;
    color: teal;
    padding: 0% 10% 5% 10%;
}

h1 {
    font-family: cursive, sans-serif;
    text-align: center;
    font-size: 56px;
    margin: 70px;
}

h3 {
    font-size: 24px;
    font-style: italic;
}

h4 {
    font-size: 20px;
    font-style: italic;
}

p {
    font-size: 18px; 
    font-style: italic;
}

li {
    margin: 10px;
    font-size: 18px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: teal;
}

.main-page-links:hover {
    text-decoration: underline;
}

.recipes-list {
    margin-left: 20%;
    font-size: 24px; 
}

img {
    width: 50%;
    height: auto;
    display:block;
    margin: 0px auto 0px auto;
    border-radius: 15px;
    color: black;
    box-shadow: 0px 0px 5px;
}

button {
    background-color: ivory;
    border: teal 1px solid;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 50px;
}

button:hover {
    box-shadow: 0px 0px 5px;
    color: grey;
}

.egg {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 300px;
    height: 300px;
  }
  
  .eggwhite {
    top: 10%;
    left: 25%;
    background-color: white;
    width: 70%;
    height: 65%;
    border: lightcoral 1px solid;
    border-radius: 70% 60% 80% 90%;
  }
  
  .eggyolk {
    top: 20%;
    left: 25%;
    background-color: yellow;
    width: 55%;
    height: 50%;
    border-radius: 100% 120% 100% 100%;
  }

  .sparkle {
    top: 25%;
    left: 35%;
    background: white;
    width: 10%;
    height: 25%;
    border-radius: 50%;
    rotate: 30deg;
  }
  
  .egg * {
    position: absolute;
  }
  